.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
coverage/
**/__pycache__/
*.pyc
.idea/
.vscode/
*.iml
android/.gradle/
android/local.properties
android/key.properties
android/app/debug/
android/app/profile/
android/app/release/
windows/flutter/ephemeral/
*.jks
*.keystore
.DS_Store
